body{
    width: 750px;
    height: 750px;
    margin: auto;
    background-image: url("https://img.freepik.com/vector-premium/codigo-programacion-fondo-codificacion-o-hacker-icono-codigo-programacion-hecho-codigo-binario_127544-815.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
header{
    width: 750px;
    height: 250px;
    background-color:#B6F8F0;
}
#navbar{
    width: 750px;
    height: 50px;
    background-color: #0FF090 ;
}
#logo{
    width: 250px;
    height: 125px;
    background-color: black;
    float: right;

}
#banner{
    width: 500px;
    height: 250px;
    background-color: blanchedalmond;
    float: left;
}
#login{
    width: 250px;
    height: 125px;
    background-color:#2F6989;
    float: right;

}
